.topnav{
	background-color: #015D9E;
}

canvas{
  /*prevent interaction with the canvas*/
  pointer-events:none;
}
p{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}